/* Негізгі қолданба стильдері */
.App {
  text-align: center;
}

/* Логотип стильдері */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Анимация параметрлерін теңшеу */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Басты тақырып аймағының стильдері */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Сілтеме стильдері */
.App-link {
  color: #61dafb;
}

/* Логотип айналу анимациясы */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}